.box{
    height: 150px;
    width: 150px;
    margin: 5;
    border: 4px solid red;
    display: inline-block;
} 
.box3{
    position: static;
}
.box2{
    position: fixed;
    top: 90px;
    left: 68px;
    margin-left: 100px;
}
